.tab-wrapper {
  display: flex;
  height: 100%;
}

.left-block {
  width: 35%;
  border-right: 0.1rem solid #ddd;
  padding: 2rem;
  overflow-y: auto;

  h3 {
    margin-bottom: 1.5rem;
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .item {
    line-height: 2.3rem;
    padding: 1.2rem;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
    background: #f9f9f9;
    cursor: pointer;
    transition: all 0.2s;

    .title {
      font-size: 1.6rem;
      font-weight: 600;
      color: #333;
    }

    .time {
      font-size: 1.4rem;
      font-weight: 500;
      color: #777;
    }

    &:hover {
      background: #eef5ff;
    }

    &.active {
      background: rgb(30, 41, 57);
      color: #fff;

      .time,
      .title {
        color: #eaeaea;
      }
    }
  }
}

.right-block {
  flex: 1;
  padding: 2rem;

  .detail {
    h3 {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 0.8rem;
    }

    .time {
      display: block;
      font-size: 1.6rem;
      font-weight: 500;
      color: #777;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1.6rem;
      color: #444;
      line-height: 1.5;
    }
  }

  .placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #aaa;
    font-size: 2rem;
  }
}
